
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://assets-global.website-files.com/644a9d9ce529ef8812f82a28/647fb85c69e95444243ef9bd_Henley%27s%20Gentlemen%27s%20Grooming%20-%20Barbershop%20and%20Mens%20Grooming.webp'); /* Substitua pelo URL da sua imagem */
    background-size: cover; /* Ajusta a imagem para cobrir todo o corpo */
    background-position: center; /* Centraliza a imagem */
}

.container {
    background-color: rgba(255, 255, 255, 0.8); /* Define uma cor de fundo semitransparente para o conteúdo */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 90%;
    margin: 50px auto; /* Centraliza o conteúdo verticalmente */
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333; /* Cor do título */
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    color: #333; /* Cor dos rótulos */
}

input, select {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#message {
    margin-top: 20px;
    text-align: center;
}
